{
  "presets": [
    [
      "env", {
        "targets": {
          "node": "current"
        }
      }
    ],"flow"
  ],
  "env": {
    "test": {
      "plugins": [
        "istanbul"
      ]
    }
  }

}